h1#page_herder_text {
color: #ff6600;
text-align: center;
font-size: 120%;
}

.margin_bottom_nav {
margin-bottom: 10px;
}

.under_header {
margin-top: 87px;
}

.upper_footer {
margin-bottom: 40px;
}

.upper_footer_pre_login {
margin-bottom: 76px;
}

#color-orange {
background-color: #ff6600;
color: #ffffff;
font-size: 70%;
}

.ui-icon-fb:after {
  background-image: url("../img/facebook.png");
  background-color: transparent;
  background-size: contain;
}

.agreement_upper {
	font-size: 50%;
	color: #a19b9b;
	margin: 0px;
}

.agreement_lower {
	font-size: 50%;
	color: #565353;
	margin-top: 0px;
	margin-bottom: 5px;
	text-decoration: none;
}

.text_decoration_none {
	text-decoration: none;
}

.tab_fixed {
position:fixed; 
text-align:center;
top:52px; 
width:99%; 
height:36px;
padding:0px;
margin:0px; 
z-index: 999;"
}

.appIconBig{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.login_description {
color: #828282;
text-align: center;
margin: 10px 0px 0px 0px;
}

.login_description_small {
color: #828282;
text-align: center;
margin: 10px 0px 0px 0px;
}

.login_form_mobile {
margin: 0 auto;
text-align: center;
width:85%; 
}